html,
* {
  font-family: "Raleway", sans-serif;
}
.story {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(255, 255, 255)),
    to(rgb(186, 187, 186))
  );
  background: -o-linear-gradient(rgb(255, 255, 255), rgb(186, 187, 186));
  background: linear-gradient(rgb(255, 255, 255), rgb(186, 187, 186));
}

.profile-pic {
  /* display: inline-block;
  position: relative; */
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img {
  width: 100%;
  margin-top: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.icon img {
  width: 40px;

  -webkit-filter: brightness(1);
  filter: brightness(1);
  -webkit-transition: -webkit-filter 0.2s;
  transition: -webkit-filter 0.2s;
  -o-transition: filter 0.2s;
  transition: filter 0.2s;
  transition: filter 0.2s, -webkit-filter 0.2s;
}

.icon img:hover {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
}

.heading {
  display: inline;
  padding: 5px;
}

.hding {
  display: block;
  padding: 10px;
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
}

.list {
  padding: 10px;
  list-style-type: none;
}

.personal {
  background: #093028; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#237a57),
    to(#093028)
  );
  background: -o-linear-gradient(left, #237a57, #093028);
  background: linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: aliceblue;
}

.personal a {
  color: aliceblue;
  text-decoration: none;
}

.personal a:hover {
  color: rgb(137, 192, 250);
}

.personal .details {
  display: inline-block;
  text-align: left;
}
